/* BOILERPLATE */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

.hidden {
  display: none;
}

/* The usual */
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  background-color: white;
  border-radius: 0.3rem;
  border: 0.1rem solid black;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.btn--restart {
  font-weight: 600;
  width: 6rem;
}

input[type="text"] {
  max-width: 10rem;
  border-radius: 0.2rem;
  border: 0.1rem solid black;
  padding: 0 0.3rem;
}

.app {
  transform: translate(0, -3rem);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  gap: 0.5rem;
  justify-content: center;
}

.board__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid black;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: all 200ms ease-in-out;
}

.board__tile:hover,
.btn:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.05);
}
